body{
   background-color: rgba(0, 0, 0, 0.806);
   font-weight: bold;
   
}
#price {
    display: flex;
    align-items: center;
    gap: 8px;
}

#price-icon {
    width: 20px;
    height: 20px;
}



.container{
    width: 400px;
    padding: 10px 30px;
    margin: 100px auto;
    border-radius: 10px;
    color: black;
    background-color: whitesmoke;
}